{% extends 'layout.html' %} {% set pageTitle = 'Марина Потапова' %} {% block content %}
<div class="ids__space XL"></div>
<div class="ids__wrapper">
  <p>Марина Потапова</p>
  <p>Психолог, гештальт-терапевт</p>

  <p>Привет! Меня зовут Марина, я психолог, гештальт-терапевт. Этот сайт не очень красивый, но у него и задача другая: он нужен, чтобы ребята, которые сомневаются, обратились-таки к терапевту. Для этого можно написать мне, или пойти на агрегатор, или обратиться к кому-то еще, но главное — чтобы осознание состоялось. </p>

  <p>Люди не ходят к психологу по самым разным причинам. Например, вот таким:</p>
  <p>Со мной все в порядке, z просто устал. (С вами все в порядке. Но если усталость не проходит после сна или выходных, возможно, есть что-то еще.)</p>
  <p>Нет, ну вот у них проблемы, а я сам справлюсь. (Обязательно справитесь. Вопрос, сколько времени это займет, если справляться самому, и как вы будете ощущать себя в процессе. С психологом справляться получается быстрее и проще.)</p>
  <p>Я че слабак просить кого-то о помощи. (Принимать помощь — это норм, вы не слабак.) </p>
  <p>Ну я ж не ебнутый, со мной все нормально, к психологам ходят только ебнутые. (Ребята с диагнозами ходят к психиатрам, к психологам — ребята, у которых базово все окей с головой, но что-то вот поднакопилось.)</p>
  <p></p>
  <p></p>
  <p></p>
  <p>А ходят примерно вот поэтому:</p>
  <p>Мне плохо уже достаточно долгое время. У этого могут быть явные причины (травматичные события, потери), а может не быть причин. Я понимаю, что нужно что-то менять, но у меня нет сил. Я в растерянности. Я не понимаю, что делать. Мне ничего не хочется. Я не могу наладить отношения с самим собой, или с партнером, или с детьми, или с родителями, или с ребятами на работе. Мне достаточно плохо — достаточно для того, чтобы задуматься о поиске психолога.</p>
<ul>
  <li>просыпаюсь уже уставшим, и так много-много дней подряд, даже после выходных и отпуска;</li>
  <li>никто не понимает, как будто на зло постоянно что-то делают, чтобы стало хуже;</li>
  <li>раньше свои дела нравились, а теперь есть вопрос, почему я вообще этим занимаюсь;</li>
  <li>все чаще к родным, коллегам и друзьям просыпается то раздражение, то сарказм, то полный похуизм (и для меня это не норма);</li>
  <li>есть ощущение, что все бессмысленно, ничего не получается и не получится, а если получится — оно того не стоит;</li>
  <li>в голову приходят метафоры вроде “как белка в колесе”, “батарейка села” и “ебись оно все провались”;</li>
  <li>и это длится уже достаточно долгое время, сложно вспомнить, когда именно началось, и непонятно, как выбираться, и вообще не нравится в этом находиться, но сил что-то менять нет. </li>    
</ul>
<p></p>
  
  <p>Если в этом списке захотелось проставить галочки как в чек-листе — пора обратиться к психологу. </p>
  <p>Надо обратиться, а ждать не надо.</p>
  <p>Обратитесь к кому угодно, необязательно ко мне (но можно и ко мне).</p>
  <p></p>
  <p></p>
  
  
  <p>Я работаю в гештальт-подходе. Это значит, что в работе основной фокус уделяется вашим эмоциям и переживаниям, телесным реакциям, чуткому контакту с самим собой, своими желаниями и потребностями. Сессии как правило проходят в режиме диалога, но могут включать и элементы арт-терапии, аналитические техники или небольшие эксперименты. </p>

  <p>Я принимаю онлайн (гугломит или телега) и оффлайн в Москве. </p>
  <p>Сессия длится 60 минут, стоит 5000₽. </p>
  <p>Не работаю с химическими зависимостями и людьми младше 16 лет. Не выписываю таблетки, не ставлю диагнозы.</p>
  <p>[Здесь дипломы]</p>
  

  <p>Психологи не страшные, обращаться за помощью не стыдно</p>
  <p></p>


  <p>Напишите мне <a href="https://t.me/aphhss">в телеграм</a>.</p>
</div>

{% endblock %}
