
{% extends 'layout.html' %}

{% set pageTitle = 'Марина Потапова' %}

{% block content %}
  <div class="ids__space XL"></div>
  <div class="ids__wrapper">
    <p>Марина Супер Потапова</p>
    <p>Гештальт-терапевт</p>

    <p>клиентский сегмент</p>
    <p>Пояснение про айтишный бэкграунд</p>


    <p>артефакт</p>
    <p>терапевтическая сессия</p>

    <p>атрибуты артефакта</p>
    <p>продолжительность, место, формат, стоимость</p>
    <p>онлайн</p>
    <p>офлайн в Москве</p>


    <p>наполнение: что там может происходить</p>

    <p>запросы</p>
    <ul>
      <li>профессиональное выгорание</li>
      <li>чувство потерянности, тревога</li>
      <li>проблемы в отношениях с окружающими</li>
      <li>проблемы в отношениях с собой</li>
    </ul>
    <p>Если вы заебались, и не понимаете, что делать — вы не одиноки. Это не конец, это не приговор, это не диагноз.</p>

    <p>возможные аргументы</p>
    <p>Надо обратиться, а ждать не надо</p>
    <p>Обратитесь к кому угодно, необязательно ко мне (но можно и ко мне)<p>
    
    <p>Психологи не страшные, обращаться за помощью не стыдно<p>
    

    <p>не работают с людьми до 16 лет</p>
    <p>не работаю с теми, кого привели</p>

    <p>цена 5000₽/час</p>
    
    <p>[Здесь дипломы]</p>
    <p>Напишите мне <a href="https://t.me/aphhss">в телеграм</a>.</p>
    
  </div>

  

{% endblock %}
